.main_footer{
    display:flex;
    
    
    padding-top: 40px;
    background-color: aqua;
    padding-left: 30px;
    padding-right: 50px;
}
.row_footer{
    display:flex;
    
}
.col2{
    padding-left: 40px;
}
